<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="form" th:object="${requestBoardConfig}">
    <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>

    <h2>기본 설정</h2>
    <table class="table_cols mb30">
        <tr>
            <th width="180">사용여부</th>
            <td>
                <input type="radio" name="active" value="true" id="active_true" th:field="*{active}">
                <label for="active_true">사용</label>

                <input type="radio" name="active" value="false" id="active_false" th:field="*{active}">
                <label for="active_false">미사용</label>
            </td>
        </tr>
        <tr>
            <th>게시판 ID</th>
            <td th:if="*{mode != 'edit'}">
                <input type="text" name="bId" th:field="*{bId}">

                <div class="error" th:each="err : ${#fields.errors('bId')}" th:text="${err}"></div>
            </td>
            <td th:if="*{mode == 'edit'}"> <!-- 수정 -->
                <input type="hidden" name="bId" th:field="*{bId}">
                <th:block th:text="*{bId}"></th:block>
            </td>
        </tr>
        <tr>
            <th>게시판 이름</th>
            <td>
                <input type="text" name="bName" th:field="*{bName}">

                <div class="error" th:each="err : ${#fields.errors('bName')}" th:text="${err}"></div>
            </td>
        </tr>
    </table>
    <!--
    <script th:replace="~{common/_file_tpl::editor_tpl}"></script>
    -->
</th:block>
</html>