<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,user-scalable=yes,initial-scale=1.0,minimum-scale=0.5,maximum-scale=2.0">
        <title>
            <th:block th:if="${pageTitle != null}" th:text="${#strings.concat(pageTitle, ' - ')}"></th:block>사이트 제목
        </title>

        <link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/mobile/css/style.css}">

        <!--컨트롤러가 넘겨주는 css-->
        <link th:if="${addCss != null}" rel="stylesheet" type="text/css"
              th:each="cssFile: ${addCss}" th:href="@{/mobile/css/{file}.css(file=${cssFile})}">
        <!--컨트롤러 없이 템플릿 넘어올때 치환되는 css-->
        <th:block layout:fragment="addCss"></th:block>

        <script th:src="@{/common/js/common.js}"></script>
        <script th:src="@{/mobile/js/common.js}"></script>

        <script th:if="${addCommonScript != null}"
                th:each="jsFile : ${addCommonScript}" th:src="@{/common/js/{file}.js(file=${jsFile})}"></script>
        <th:block layout:fragment="addCommonScript"></th:block>

        <!--컨트롤러가 넘겨주는 js-->
        <script th:if="${addScript != null}"
                th:each="jsFile : ${addScrpt}" th:src="@{/mobile/s/{file}.js(file=${jsFile})}"></script>

        <!--컨트롤러 없이 템플릿 넘어올때 치환되는 js-->
        <th:block layout:fragment="addScript"></th:block>

    </head>
    <body>
        <header th:replace="~{mobile/outlines/_header::common}"></header>
        <main layout:fragment="content"></main>
        <footer th:replace="~{mobile/outlines/_footer::common}"></footer>
        <iframe name="ifrmHidden" class="dn"></iframe>
    </body>
</html>